name: CI - Test suite

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main"]

env:
  MIX_ENV: test
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

permissions:
  contents: read

jobs:
  build24:
    name: Build and test OTP 24
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        otp: ["24.3"]
        elixir: ["1.12.2", "1.13.4", "1.14.3"]
    services:
      ipfs:
        image: ipfs/kubo:latest
        ports:
          - 5001:5001
    steps:
      - uses: actions/checkout@v3
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{matrix.elixir}}
          otp-version: ${{matrix.otp}}
      - name: Restore dependencies cache
        uses: actions/cache@v3
        id: dependency-cache
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Install dependencies
        if: steps.dependency-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Lint
        run: |
          mix format --check-formatted
          mix deps.unlock --check-unused
          mix deps.get
          mix compile --warnings-as-errors
      - name: Run test suite
        run: |
          mix coveralls
          # mix coveralls.github
  build25:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        otp: ["25.1.2"]
        elixir: ["1.13.4", "1.14.3"]
    services:
      ipfs:
        image: ipfs/kubo:latest
        ports:
          - 5001:5001
    steps:
      - uses: actions/checkout@v3
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{matrix.elixir}}
          otp-version: ${{matrix.otp}}
      - name: Restore dependencies cache
        uses: actions/cache@v3
        id: dependency-cache
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Install dependencies
        if: steps.dependency-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Lint
        run: |
          mix format --check-formatted
          mix deps.unlock --check-unused
          mix deps.get
          mix compile --warnings-as-errors
      - name: Run test suite
        run: |
          mix coveralls
          # mix coveralls.github
